.selector-wrapper {
  display: flex;
  gap: 2rem;
}

.selected-pokemons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  overflow: scroll;
  border: 1px solid white;
  border-left: 1px;
  border-right: 1px;
}

.label-wrapper {
  display: flex;
  place-content: space-between;
  padding: 0.3rem;
  gap: 0.5rem;
}

.search-bar {
  padding: 1rem;
}

.label {
  padding: 0 1rem;
}

.search-bar,
.label {
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;

  /* margin: 0.5rem 1rem; */
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 200ms ease-out;

  &:hover {
    background-color: #ffffff27;
  }

  &.active {
    background-color: #ffffff;
    color: black;
    &:hover {
      background-color: #ffffffcf;
    }
  }

  p {
    margin: 0;
  }
}

.toggle-btn {
  background-color: #ffffff27;
}
