.selector-wrapper {
  display: flex;
  gap: 2rem;
}

.label {
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.5rem 0;
  margin: 0.5rem 1rem;
  cursor: pointer;

  &.active {
    background-color: #ffffff90;
    color: black;
  }
}
